body {
  background-color: green;
}
.left-block, .right-block {
    border: 1px solid red;
    background-color: blue;
}

.h2 {
    color: green;
}

@media only screen and (max-width: 768px)
{
    .left-block {
        background-color:yellow;
    }
    body {
        background-color:pink;
    }
}

@media only screen and (max-width: 375px)
{
    .left-block {
        background-color:orange;
    }
    body {
        background-color:yellow;
    }
}
